@use "global" as *;

.about-sub {
    padding-top: rem(39);

    @include mq(md) {
        margin-top: rem(75);
        padding-top: rem(0);
    }
}

.about-sub__header {
    position: relative;
    text-align: center;
}

.about-sub__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        left: rem(48);
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            left: rem(300);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(lg) {
            left: rem(450);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(xl) {
            left: rem(700);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        right: rem(48);
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            right: rem(300);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(lg) {
            right: rem(450);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(xl) {
            right: rem(700);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }
}

.about-sub__deco {
    position: relative;
    padding-top: rem(140);

        &::before {
        position: absolute;
        content: "";
        top: 5%;
        // left: 3%;
        width: 100%;
        height: 82.2vw;
        background-image: url(../src/images/top/concept-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 90;

        @include mq(md) {
            position: absolute;
            content: "";
            top: 10%;
            // left: 3%;
            width: 100%;
            height: rem(725);
            background-image: url(../src/images/top/concept-bg.svg);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 90;
            }
    }

    @include mq(md) {
        padding-top: rem(104);
    }

}

.about-sub__inner1 {
    position: relative;
    z-index: 101;
    margin-right: rem(20);
    margin-left: rem(20);
    letter-spacing: 0.11em;


    @include mq(sm) {
        flex: 0 1 31.7%;
    }
    @include mq(md) {
        margin-right: auto;
        margin-left: rem(93);
        margin-top: rem(26);
        letter-spacing: 0.14em;
    }
}

.about-sub__inner2 {
    position: relative;
    z-index: 101;
    margin-right: rem(20);
    margin-left: rem(20);
    letter-spacing: 0.11em;


    @include mq(sm) {
        flex: 0 1 31.7%;
    }
    @include mq(md) {
        margin-left: auto;
        margin-right: rem(93);
        margin-top: rem(26);
        letter-spacing: 0.14em;
    }
}

.about-sub__content1 {

    @include mq(md) {
        display: flex;
        flex-direction: row-reverse;
        margin-top: rem(140);
    }
}

.about-sub__content2{
    margin-top: rem(88);

    @include mq(md) {
        display: flex;
        margin-top: rem(267);
    }
}

.about-sub__heading-lead {
    font-size: rem(11);
    color: $main-color;

    @include mq(md) {
        font-size: rem(14);
    }
}

.about-sub__heading-title {
    font-size: rem(20);
    margin-top: rem(16);
    letter-spacing: 0.16em;

    @include mq(md) {
        font-size: rem(28);
        margin-top: rem(23);
        letter-spacing: 0.1em;
    }
}

.about-sub__message {
    margin-top: rem(32);
    font-size: rem(14);
    line-height: 1.7;

    @include mq(md) {
        margin-top: rem(42);
    }
}

.about-sub__message +
.about-sub__message {
    margin-top: rem(25);
}


.about-sub__img {
    margin-top: rem(40);
    margin-right: rem(40);

    @include mq(sm) {
        margin: 0;
        flex: 0 0 50%;
        position: relative;
        z-index: 101;
        overflow: hidden;
        border-radius: rem(0) rem(20) rem(20) rem(0);
    }
}

.about-sub__img--feature {
    margin-top: rem(40);
    margin-left: rem(40);

    @include mq(sm) {
        margin: 0;
        flex: 0 1 50%;
        position: relative;
        z-index: 101;
        overflow: hidden;
    }
}