@use "global" as *;

.about-picture {
    margin-top: rem(93);
    margin-bottom: rem(137);

    @include mq(md) {
        margin-top: rem(155);
        margin-bottom: rem(202);
    }
}

.about-picture__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: rem(160) rem(160);
    gap: rem(11);
    margin-top: rem(40);

    @include mq(md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: rem(317) rem(317);
        gap: rem(24);
        margin-top: rem(60);
    }
}

.about-picture__header {
    position: relative;
    text-align: center;
}

.about-picture__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        left: rem(48);
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            left: rem(300);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(lg) {
            left: rem(300);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }

    &::after {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        right: rem(48);
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            right: rem(30);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }

        @include mq(lg) {
            right: rem(300);
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }
}
