@use "global" as *;

.medical-content {
    margin-top: rem(100);

    @include mq(md) {
        margin-top: rem(160);
    }
}

.medical-content__deco-top {
    height: rem(85);
    width: 100%;
    background-image: url(/src/images/top/bg-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include mq(md) {
        height: rem(201);
        background-size: cover;
    }
}

.medical-content__bg {
    background-color: $sub-color2;
    padding-top: rem(30);
    padding-bottom: rem(81);
    position: relative;

    &::before{
        position: absolute;
        content: url(/src/images/top/bottom-deco-1.svg);
        bottom: 0;
        left: rem(12);
        transform: translateY(-50%);
        width: rem(25);
        height: rem(25);
        z-index: 101;
    }
    &::after{
        position: absolute;
        content: url(/src/images/top/bottom-deco-2.svg);
        bottom: rem(-24);
        right: rem(8);
        transform: translateY(-50%);
        width: rem(53);
        height: rem(58);
        z-index: 101;
    }
}

.medical-content__items1 {
    padding: rem(24) rem(20);
    background-color: $white;
    margin-top: rem(40);
    border-radius: rem(20);
    position: relative;

    @include mq(md) {
        padding: rem(60) rem(60);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: rem(20);
        width: rem(80);
        height: rem(60);
        background-image: url(/src/images/medical/tag-01.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include mq(md) {
            width: rem(100);
            height: rem(80);
        }
    }
}

.medical-content__items2 {
    padding: rem(24) rem(20);
    background-color: $white;
    margin-top: rem(40);
    border-radius: rem(20);
    position: relative;

    @include mq(md) {
        padding: rem(60) rem(60);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: rem(20);
        width: rem(80);
        height: rem(60);
        background-image: url(/src/images/medical/tag-02.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include mq(md) {
            width: rem(100);
            height: rem(80);
        }
    }
}

.medical-content__heading {
    border-bottom: rem(1) solid #C2C2C2;
    padding-bottom: rem(20);

    @include mq(md) {
        display: flex;
        align-items: center;
    }
}

.medical-content__title {
    font-size: rem(20);
}

.medical-content__lead {
    display: inline-block;
    font-size: rem(14);
    color: $main-color;
    margin-top: rem(20);

    @include mq(md) {
        margin-left: rem(20);
        margin-top: 0;
    }
}

.medical-content__body {

    @include mq(md) {
        margin-top: rem(40);
        display: flex;
    }
}

.medical-content__text {
    font-size: rem(14);
    line-height: 1.714;
    margin-top: rem(20);

    @include mq(md) {
        flex: 0 1 50%;
        margin-top: 0;
    }
}

.medical-content__img {
    margin-top: rem(20);
    width: 100%;
    max-width: rem(295);

    @include mq(md) {
        flex: 0 0 50%;
        max-width: 100%;
        margin-left: rem(40);
        margin-top: 0;
    }
}

.medical-content__deco-bottom {
    background-image: url(/src/images/common/bg-bottom.png);
    width: 100%;
    height: rem(28);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq(md) {
        background-size: cover;
        height: rem(97);
    }
}
