@use "global" as *;

.medical-content {
    margin-top: rem(114);

    @include mq(md) {
        margin-top: rem(150);
    }
}

.medical-content {
    &:not(:first-child) {
        @include mq(lg) {
            margin-top: rem(156);
        }
    }
}

.medical-content__deco-top {
    height: rem(70);
    width: 100%;
    background-image: url(../src/images/top/bg-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include mq(md) {
        height: rem(160);
        background-size: cover;
    }

    @include mq(lg) {
        height: rem(205);
        background-size: cover;
    }
}

.medical-content__bg {
    background-color: $sub-color2;
    padding-top: rem(34);
    padding-bottom: rem(115);
    position: relative;

    &::before{
        position: absolute;
        content: url(../src/images/top/bottom-deco-1.svg);
        bottom: 0;
        left: rem(12);
        transform: translateY(-50%);
        width: rem(25);
        height: rem(25);
        z-index: 101;
    }
    &::after{
        position: absolute;
        content: url(../src/images/top/bottom-deco-2.svg);
        bottom: rem(-24);
        right: rem(8);
        transform: translateY(-50%);
        width: rem(53);
        height: rem(58);
        z-index: 101;
    }

    @include mq(md) {
        padding-top: 0;
        padding-bottom: rem(81);
    }
}

.medical-content__items1 {
    padding: rem(24) rem(20);
    background-color: $white;
    margin-top: rem(35);
    border-radius: rem(20);
    position: relative;

        @include mq(md) {
        padding: rem(60) rem(60);
        margin-top: rem(40);
        }

        @include mq(lg) {
        padding: rem(55) rem(60);
        margin-top: rem(52);
        }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: rem(20);
        width: rem(80);
        height: rem(60);
        background-image: url(../src/images/medical/tag-01.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include mq(md) {
            width: rem(100);
            height: rem(80);
        }

        @include mq(lg) {
            width: rem(100);
            height: rem(80);
            right: rem(60);
        }
    }
}

.medical-content__items1 +
.medical-content__items1 {
    @include mq(lg) {
        margin-top: rem(48);
    }
}

.medical-content__items2 {
    padding: rem(24) rem(20);
    background-color: $white;
    margin-top: rem(36);
    border-radius: rem(20);
    position: relative;

    @include mq(md) {
        padding: rem(60) rem(60);
        margin-top: rem(40);
    }

    @include mq(lg) {
        padding: rem(55) rem(60);
        margin-top: rem(52);
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: rem(20);
        width: rem(80);
        height: rem(60);
        background-image: url(../src/images/medical/tag-02.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        @include mq(md) {
            width: rem(100);
            height: rem(80);
        }

        @include mq(lg) {
            right: rem(60);
        }
    }
}

.medical-content__items2 +
.medical-content__items2 {
    margin-top: rem(33);

    @include mq(lg) {
        margin-top: rem(49);
    }
}

.medical-content__heading {
    border-bottom: rem(1) solid #C2C2C2;
    padding-bottom: rem(20);

    @include mq(md) {
        display: flex;
        align-items: center;
    }

    @include mq(lg) {
        display: flex;
        align-items: center;
        padding-bottom: rem(36);
    }
}

.medical-content__title {
    font-size: rem(20);

    @include mq(md) {
        font-size: rem(28);
    }

    @include mq(lg) {
        letter-spacing: 0.1em;
    }
}

.medical-content__lead {
    display: inline-block;
    font-size: rem(14);
    color: $main-color;
    margin-top: rem(17);
    letter-spacing: 0.07em;

    @include mq(md) {
        margin-left: rem(20);
        margin-top: 0;
    }

    @include mq(lg) {
        margin-left: rem(45);
        margin-top: 0;
    }
}

.medical-content__body {

    @include mq(md) {
        margin-top: rem(40);
        display: flex;
    }
}

.medical-content__text {
    font-size: rem(14);
    line-height: 1.714;
    margin-top: rem(16);

    @include mq(md) {
        flex: 0 1 50%;
        margin-top: 0;
    }
}

.medical-content__img {
    margin-top: rem(20);

    @include mq(md) {
        flex: 0 0 50%;
        max-width: 100%;
        margin-left: rem(40);
        margin-top: 0;
    }

    @include mq(lg) {
        margin-left: rem(20);
    }
}

.medical-content__img img{
    width: 100%;
    max-width: rem(295);
    height: rem(221);

    @include mq(md) {
        max-width: 100%;
    }

    @include mq(lg) {
        max-width: 100%;
        height: rem(315);
    }
}

.medical-content__deco-bottom {
    background-image: url(../src/images/common/bg-bottom.png);
    width: 100%;
    height: rem(28);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq(md) {
        background-size: cover;
        height: rem(97);
    }
}
