@use "global" as *;

.concept {
    margin-top: rem(60);
    padding-top: rem(110);
    position: relative;

    @include mq(md) {
        padding-top: rem(180);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: rem(556);
        height: rem(307);
        background: url(/src/images/top/concept-bg.svg);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 90;

        @include mq(md) {
            width: rem(1311);
            height: rem(725);
            left: rem(416);
        }
    }
}

.concept__inner {
    position: relative;
    z-index: 101;

    @include mq(sm) {
        flex: 0 1 31.7%;
    }
}

.concept__body {
}

.concept__heading-lead {
    font-size: rem(11);
    color: $main-color;
}

.concept__heading-title {
    font-size: rem(20);
    margin-top: rem(16);
    letter-spacing: 0.16em
}

.concept__message {
    margin-top: rem(32);
    font-size: rem(14);
}

.concept__link {
    margin-top: rem(40);
}

.concept__link-btn {
    display: inline-block;
    font-size: rem(14);
    padding: rem(10) rem(40);
    border: 1px solid $main-color;
    border-radius: rem(24);
    background-color: $white;
    text-align: center;
    position: relative;

@include mq(md) {
    text-align: left;
}

    &::after {
        content: "";
        position: absolute;
        width: rem(12);
        height: rem(12);
        top: 50%;
        right: rem(12);
        transform: translateY(-50%);
        background: url(/src/images/top/icon-arrow-blue-btn.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.concept__img {
    margin-top: rem(40);
    margin-right: rem(40);

    @include mq(sm) {
        margin: 0;
        flex: 0 1 50%;
        position: relative;
        z-index: 101;
        overflow: hidden;
        border-radius: rem(0) rem(20) rem(20) rem(0);
    }
}