@use "global" as *;

.main-visual {
  // position: relative;
}

.main-visual__inner {
  margin-top: rem(20);
  margin-right: rem(20);
  margin-left: rem(20);

  @include mq(md) {
    margin-top: rem(28);
    margin-right: rem(58);
    margin-left: rem(62);
  }
}

.main-visual__items {
}






