@use "global" as *;

.main-visual {
  // position: relative;
}

.main-visual__inner {
  margin-top: rem(20);
  margin-right: rem(20);
  margin-left: rem(20);

  @include mq(md) {
    margin-top: rem(28);
    margin-right: rem(58);
    margin-left: rem(62);
  }
}

.main-visual__items {
}



.main-visual__catch {
  position: absolute;
  bottom: rem(38);
  left: rem(20);
  z-index: 100;
  max-width: rem(265);
  width: 100%;

  @include mq(md) {
    max-width: rem(415);
    left: rem(60);
    bottom: rem(45);
  }
}


