@use "global" as *;

.main-visual {

}

.main-visual__inner {
  margin-top: rem(20);
}

.main-visual__items {
  position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 50px;
  width: 50px;
}

.swiper-button-next {
  right: rem(-22);
}

.swiper-button-prev {
  left: rem(-22);
}
/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  margin: auto;
  width: 50px;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
  background-image: url(/src/images/top/arrow-left.svg);
}
/* 次への矢印カスタマイズ */
.swiper-button-next:after {
  background-image: url(/src/images/top/arrow-right.svg);
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper-pagination ,
.swiper-pagination-bullets ,
.swiper-pagination-horizontal {
  display: flex;
  flex-direction: column;
  left: -21px;
}

.swiper-pagination-bullets
.swiper-pagination-horizontal {
  left: rem(-21);
}

.swiper-pagination-horizontal
.swiper-pagination-bullets,
.swiper-pagination-bullet {
  margin: 3px var(--swiper-pagination-bullet-horizontal-gap,4px);
}

.main-visual__catch {
  position: absolute;
  bottom: rem(32);
  left: rem(20);
  z-index: 100;
  max-width: rem(265);
  width: 100%;

  @include mq(md) {
    max-width: rem(415);
  }
}


