@use "global" as *;

.recommend {
    margin-top: rem(96);

    @include mq(md) {
        margin-top: rem(230);
    }
}

.recommend-header {
    position: relative;
    text-align: center;
}

.recommend-header__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            left: rem(260);
            background: url(../src/images/top/title-deco.svg);
        }
    }


    &::after {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            right: rem(260);
            background: url(../src/images/top/title-deco.svg);
        }
    }
}


.recommend__items {
    margin-top: rem(40);

    @include mq(md) {
        display: flex;
        align-self: stretch;
        margin-top: rem(51);
    }
}

.recommend__item {

    @include mq(md) {
        width: calc(33% - rem(66) * 2 / 3);
    }
}

.recommend__item + .recommend__item {
    margin-top: rem(60);

    @include mq(md) {
        margin-top: 0;
        margin-left: rem(66);
    }
}


.recommend__item-title {
    width: rem(177);
    margin: rem(12) auto 0;
}
.recommend__item-img {
    width: rem(275);
    margin: rem(12) auto 0;
    text-align: center;
}

.recommend__item-text {
    line-height: 1.714;
    margin-top: rem(19);
    margin-right: rem(26);
    margin-left: rem(26);
    font-size: rem(14);

    @include mq(md) {
        margin-top: rem(26);
        margin-right: 0;
        margin-left: 0;
    }
}

.recommend__item-text--red {
    color: #EE5A6D;
}