@use "global" as *;

.treatment-guidance {
    margin-top: rem(70);
    padding-top: rem(30);

    @include mq(md) {
        margin-top: rem(136);
        padding-top: 0;
    }
}

.treatment-guidance__inner {
    padding-top: rem(30);

    @include mq(md) {
        padding-top: 0;
    }
}

.treatment-guidance__header {
    position: relative;
    text-align: center;
}

.treatment-guidance__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        left: 18%;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            left: 35%;
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }


    &::after {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        right: 18%;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);

        @include mq(md) {
            right: 35%;
            width: rem(67);
            height: rem(20);
            background: url(../src/images/top/title-deco.svg);
        }
    }
}

.treatment-guidance__deco-top{
    height: rem(85);
    width: 100%;
    background-image: url(../src/images/top/bg-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include mq(md) {
        height: rem(150);
        background-size: cover;
    }

    @include mq(lg) {
        height: rem(203);
    }

    @include mq(xl) {
        height: rem(320);
    }
}

.treatment-guidance-bg {
    background-color: $sub-color2;
    padding-bottom: rem(60);
    position: relative;

    &::before{
        position: absolute;
        content: url(../src/images/top/bottom-deco-1.svg);
        bottom: 0;
        left: rem(12);
        transform: translateY(-50%);
        width: rem(25);
        height: rem(25);
        z-index: 101;
    }
    &::after{
        position: absolute;
        content: url(../src/images/top/bottom-deco-2.svg);
        bottom: rem(-24);
        right: rem(8);
        transform: translateY(-50%);
        width: rem(53);
        height: rem(58);
        z-index: 101;
    }
}

.treatment-guidance__items {
    margin-top: rem(40);
    margin-bottom: rem(39);

    @include mq(sm) {
        margin-top: rem(60);
    }
}

.treatment-guidance__flex {
    @include mq(md) {
        display: flex;
    }
}

.treatment-guidance__item {
    position: relative;

}

.treatment-guidance__content +
    .treatment-guidance__content  {
        margin-top: rem(20);

        @include mq(md) {
            margin-top: 0;
            margin-left: rem(80);
        }
    }

.treatment-guidance-img {
    overflow: hidden;
    border-radius: rem(20);

    &:hover {
        outline: rem(2) solid rgb(255, 255, 255);
	    outline-offset: rem(-10);
        border-radius: rem(20);
        transition: transform .6s ease;
        z-index: 10;
    }
}

.treatment-guidance-img::before {
    overflow: hidden;
    border-radius: rem(20);
    background: rgba(0, 0, 0, .3);/* マスクの色(黒の30%) */
    bottom: 0;
    content: '';
    height: auto;
    left: 0;
    opacity: 0;/* 最初は透明（非表示） */
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .6s ease;/* ゆっくりopacityのみへ変化させる */
    width: 100%;
  }

.treatment-guidance-img:hover::before {
    opacity: 1;/* hoverしたら透過しない(表示させる) */
    z-index: 9;
}

.treatment-guidance-img img{
    height: auto;
    transition: transform .6s ease;/* ゆっくり変化させる */

    &:hover {
        transform: scale(1.1);/* 拡大 */
    }
}

.treatment-guidance__content {
    position: relative;
}

.treatment-guidance__content-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: $white;
}

.treatment-guidance__content-title {
    font-size: rem(20);

    @include mq(sm) {
        font-size: rem(28);
    }
}

.treatment-guidance__content-border {
    display: inline-block;
    width: rem(30);
    height: rem(2);
    background-color: $white;
    margin-top: rem(15);
    text-align: center;
}

.treatment-guidance__content-lead {
    font-size: rem(11);
    margin-top: rem(15);

    @include mq(sm) {
        font-size: rem(16);
    }
}

.treatment-guidance__text {
    margin-top: rem(20);
    padding: rem(20);
    background-color: $white;
    line-height: 1.714;
    font-size: rem(14);

    @include mq(md) {
        margin-top: rem(60);
        padding: rem(40);
    }
}

.treatment-guidance__text--red {
    color: red;
}

.treatment-guidance__deco-bottom {
    background-image: url(../src/images/common/bg-bottom.png);
    width: 100%;
    height: rem(28);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq(md) {
        background-size: cover;
        height: rem(97);
    }

    @include mq(xl) {
        background-size: cover;
        height: rem(150);
    }
}