@use "global" as *;


.blog-main {
    margin-top: rem(61);

    @include mq(md) {
        width: 69.356%;
        margin-right: rem(30);
        margin-top: rem(32);
    }
    @include mq(lg) {
        margin-top: rem(42);
    }
}

.blog-main__items {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.blog-main__item {
        display: flex;
        // align-items: center;

        &:not(:first-child) {
            margin-top: rem(20);
        }
    }

.blog-main__img {
    position: relative;
}

.blog-main__img img {
    max-width: rem(133);
    height: rem(101);
    width: auto;

    @include mq(lg) {
        max-width: rem(244);
        height: rem(153);
        width: auto;
    }
}


.blog-main__body {
    margin-left: rem(10);
    position: relative;

    @include mq(md) {
        margin-left: rem(21);
    }
    @include mq(lg) {
        margin-left: rem(21);
        margin-top: rem(18);
    }
}


.blog-main__category {
    display: inline-block;
    font-size: rem(10);
    color: $white;
    padding: rem(2) rem(12);
    line-height: 1.5;
    background-color: $main-color;
    border-radius: rem(50);

    @include mq(md) {
        padding: rem(4) rem(12);
    }
}

.blog-main__title {
    font-size: rem(14);
    margin-top: rem(8);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include mq(md) {
        margin: rem(16) 0 rem(16);
        font-size: rem(14);
    }
}

.blog-main__date {
    font-size: rem(11);
    color: #888888;

    @include mq(md) {
        font-size: rem(12);
    }
}


.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(57);

    @include mq(md) {
        margin-top: rem(100);
    }
}


.page-numbers {
    color: $main-color;
    border: rem(1) solid $main-color;
    border-radius: rem(4);
    width: rem(30);
    height: rem(30);
    text-align: center;

    &:not(:first-child) {
        margin-left: rem(7);
    }
}

.prev  ,
.next {
    background-color: $main-color;
    color: $white;
    border-radius: rem(4);
}

.prev {
    position: relative;
    width: rem(70);
    height: rem(30);
    padding-left: rem(36);
    padding-top: rem(4);
    padding-bottom: rem(7);
    font-size: rem(11);

    @include mq(md) {
        font-size: rem(14);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(16);
        height: rem(16);
        background-image: url(../src/images/blog/arrow-circle-left.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        top: 50%;
        left: rem(10);
        transform: translateY(-50%);
    }
}


.next{
    position: relative;
    width: rem(70);
    height: rem(30);
    padding-right: rem(25);
    padding-left: rem(7);
    padding-top: rem(4);
    font-size: rem(11);

    @include mq(md) {
        font-size: rem(14);
    }

    &::after {
        position: absolute;
        content: "";
        width: rem(16);
        height: rem(16);
        background-image: url(../src/images/blog/arrow-circle-right.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        top: 50%;
        right: rem(10);
        transform: translateY(-50%);
    }
}

