@use "global" as *;

.blog-side__post {
    margin-top: rem(60);
}

.blog-side__post-title {
    font-size: rem(16);
    padding-left: rem(34);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid #888888;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../src/images/blog/sidebar-icon_2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: rem(24);
        height: rem(24);
        top: 40%;
        left: 0;
        transform: translateY(-40%);
    }
}

.blog-side__post-items {
    margin-top: rem(40);
}

.blog-side__post-item {
    display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: rem(20);
        }
}

.blog-side__post-img img {
    max-width: none;
    display: block;
    width: auto;
}