@use "global" as *;

.blog-side__post {
    margin-top: rem(60);

    @include mq(md) {
        margin-top: rem(55);
    }
}

.blog-side__post-title {
    font-size: rem(16);
    padding-left: rem(34);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid #888888;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../src/images/blog/sidebar-icon_2.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: rem(24);
        height: rem(24);
        top: 40%;
        left: 0;
        transform: translateY(-40%);
    }
}

.blog-side__post-items {
    margin-top: rem(21);

    @include mq(md) {
        margin-top: rem(14);
    }
}

.news-side__item {
    display: flex;
}

.blog-side__post-block {
    display: flex;
    align-items: center;
}

.blog-side__post-block + .blog-side__post-block {
        margin-top: rem(16);

    @include mq(md) {
        margin-top: rem(15);
    }
}

.blog-side__post-img img {
    max-width: 100%;
    display: block;
    width: rem(400);
    height: rem(104);

    @include mq(md) {
        width: rem(400);
        height: rem(90);
    }
    @include mq(lg) {
        width: rem(400);
        height: rem(90);
    }
}

.blog-side__body {
    margin-left: rem(10);

    @include mq(md) {
        margin-left: rem(5);
    }
}

.blog-side__tag {
    display: inline-block;
    font-size: rem(10);
    color: $white;
    padding: rem(4) rem(12);
    line-height: 1.5;
    background-color: $main-color;
    border-radius: rem(50);

    @include mq(md) {
        padding: rem(2) rem(8);
    }
}

.blog-side__title {
    font-size: rem(14);
    margin-top: rem(8);

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include mq(md) {
        font-size: rem(14);
        margin-top: rem(8);
    }
}

.blog-side__date {
    font-size: rem(11);
    color: #888888;

    @include mq(md) {
        font-size: rem(12);
    }
}