@use "global" as *;

.back-to-top {
    position: fixed;
    right: rem(10);
    bottom: rem(107);

    @include mq(md) {
        bottom: rem(103);
    }
}

.back-to-top img {
    width: 100%;
    max-width: rem(52);
}