@use "global" as *;

.bread {
    margin-top: rem(10);
    font-size: rem(12);

    @include mq(md) {
        margin-top: rem(4);
        margin-left: rem(30);
    }
}

.bread span {
    color: #c2c2c2;
    padding-right: rem(4);
}

.bread span {
    &:not(:first-child) span {
        color: #393939;
        padding-left: rem(5);
    }
}

.bread__list {
    display: flex;

    @include mq(md) {
        padding-left: rem(30);
    }
}

.bread__item{

    &::after {
    content: '\003e';
    margin-left: rem(5);
    margin-right: rem(5);
    color: $black;
    }
}

.bread__item:last-child::after {
        content: ""; /* 最後のliの後ろには区切り文字を表示しない */
}

.bread__item-grey {
}
