@use "global" as *;

.footer-bottom {
    display: flex;
    height: rem(60);
    background-color: $white;
    justify-content: space-around;
    padding: rem(10) 0;

    @include mq(lg) {
        display: none;
    }
}

.footer-bottom--fixed {
    position: fixed; /* ウィンドウを基準に画面に固定 */
    bottom: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    width: 100%;
    z-index: 400;
}

.footer-bottom__tel {
    width: rem(170);
    display: inline-block;
}

.footer-bottom__link {
    display: inline-block;
    width: rem(157);
}
