@use "global" as *;

.header-nav {
  @include mq(lg) {
    display: flex;
    height: inherit;
    align-items: center;
  }
}

.header-nav__list {

  @include mq(lg) {
    display: flex;
    font-size: rem(11);
    text-align: center;
  }
}

.header-nav__item {

  &.is-active {
    color: $main-color;
  }

  @include mq(lg) {
    display: flex;
    flex-direction: column; /*縦に並べる*/
    position: relative;

    &:not(:first-child){
      margin-left: rem(24);
    }
  }
}
.header-nav__item a{

  &:hover {
    color: $main-color;
    fill: $main-color;
    transition: all 0.6s ease;
  }

    &:hover::after {
      position: absolute;
      content: "";
      bottom: rem(-6);
      left: 50%;
      transform: translateX(-50%);
      width: rem(20);
      height: rem(2);
      background-color: $main-color;
      border-radius: rem(30);
      transform-origin: center top;
      transition: transform 0.3s;
    }
}

.header-nav__item svg {
  @include mq(lg) {
    margin: 0 auto;
    width: rem(24);
  }
}

