@use "global" as *;

.section-header {
    position: relative;
    text-align: center;
}
.section-header__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(55);
        height: rem(14);
        top: 50%;
        left: 16%;
        transform: translateY(-50%);
        background: url(../src/images/top/title-deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            left: 34%;
        }
    }


    &::after {
        position: absolute;
        content: "";
        width: rem(55);
        height: rem(14);
        top: 50%;
        right: 18%;
        transform: translateY(-50%);
        background: url(../src/images/top/title-deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            right: 34%;
        }
    }
}
