@use "global" as *;

.section-header {
    position: relative;
}
.section-header__title {
    font-size: rem(20);
    font-weight: $bold;
    text-align: center;

    &::before {
        position: absolute;
        content: "";
        width: rem(67);
        height: rem(17);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(/src/images/top/title-deco.svg);
    }


    &::after {
        position: absolute;
        content: "";
        width: rem(67);
        height: rem(17);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url(/src/images/top/title-deco.svg);
    }
}