@use "global" as *;

.staff-blog {
    margin-top: rem(100);
}

.staff-blog__items {
    margin-top: rem(40);
}

.staff-blog__item {
    display: flex;
}

.staff-blog__item + .staff-blog__item {
    margin-top: rem(20);
}

.staff-blog__img {
    width: 75.9398496%;
}

.staff-blog__body {
    margin-left: rem(10);
}


.staff-blog__category {
    display: inline-block;
    font-size: rem(10);
    color: $white;
    padding: rem(3) rem(8);
    line-height: 1;
    background-color: $main-color;
    border-radius: rem(50);
}

.staff-blog__title {
    font-size: rem(14);
}

.staff-blog__date {
    font-size: rem(11);
    color: #888888;
}

.staff-blog__link {
    margin-top: rem(40);
    text-align: center;
}

.staff-blog__link-btn {
    border: rem(1) solid $main-color;
    padding: rem(10) rem(40);
    border-radius: rem(24);
    color: $main-color;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: rem(5);
        transform: translate(-50%,-50%);
        width: rem(13);
        height: rem(13);
        background-image: url(/src/images/top/icon-arrow-blue-btn.svg);
    }
}
