@use "global" as *;

.mv-sub {
    position: relative;
    padding-top: rem(80);

    @include mq(md) {
        padding-top: rem(107);
    }
}

.mv-sub__inner {
    margin-right: rem(20);
    margin-left: rem(20);

    @include mq(md) {
        margin-right: rem(60);
        margin-left: rem(60);
    }
}

.mv-sub__img {
    width: 100%;
    height: rem(188);

    @include mq(md) {
        height: rem(300);
    }

    @include mq(lg) {
        height: rem(370);
    }
}

.mv-sub__heading {
    color: $white;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    @include mq(md) {
        top: 48%;
    }
    @include mq(lg) {
        top: 58%;
    }
}

.mv-sub__title {
    letter-spacing: 0.1em;

    @include mq(md) {
        font-size: rem(32);
        letter-spacing: 0.1em;
    }
}

.mv-sub__lead {
    display: inline-block;
    margin-top: rem(15);
    letter-spacing: 0.12em;
    font-size: rem(12);

    @include mq(md) {
        margin-top: rem(17);
        letter-spacing: 0.1em;
        font-size: rem(14);
    }
}