@use "global" as *;

.mv-sub {
    position: relative;
}

.mv-sub__inner {
    margin: rem(20) rem(20);

    @include mq(md) {
        margin: rem(20) rem(60);
    }
}

.mv-sub__img {
    width: 100%;
    height: rem(188);

    @include mq(md) {
        height: rem(370);
    }
}

.mv-sub__heading {
    color: $white;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.mv-sub__title {
    letter-spacing: 0.1em;

    @include mq(md) {
        font-size: rem(32);
        letter-spacing: 0.1em;
    }
}

.mv-sub__lead {
    display: inline-block;
    margin-top: rem(10);
    letter-spacing: 0.12em;
    font-size: rem(12);

    @include mq(md) {
        margin-top: rem(17);
        letter-spacing: 0.1em;
        font-size: rem(14);
    }
}