@use "global" as *;

.greeting-boss {
    margin-top: rem(60);

    @include mq(md) {
        margin-top: rem(69);
    }
}

.greeting-boss__inner {

}

.greeting-boss-header {
    position: relative;
    text-align: center;
}

.greeting-boss__title {
    font-size: rem(20);
    font-weight: $bold;
    display: inline-block;
    letter-spacing: 0.08em;

    @include mq(md) {
        font-size: rem(28);
    }

    &::before {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            left: rem(260);
            background: url(../src/images/top/title-deco.svg);
        }
    }


    &::after {
        position: absolute;
        content: "";
        width: rem(48);
        height: rem(12);
        top: 50%;
        right: 30%;
        transform: translateY(-50%);
        background: url(../src/images/common/section-title.deco.svg);
        background-repeat: no-repeat;

        @include mq(md) {
            width: rem(67);
            height: rem(20);
            right: rem(260);
            background: url(../src/images/top/title-deco.svg);
        }
    }
}

.greeting-boss__content {

    @include mq(md) {
        display: flex;
        margin-top: rem(60);
    }
}

.greeting-boss__message {
    flex: 0 0 46%;
}
.greeting-boss__message-title {
    font-size: rem(20);
    line-height: 1.6;
    font-weight: bold;
    margin-top: rem(40);

    @include mq(md) {
        margin-top: 0;
        font-size: rem(28);
        line-height: 1.35;
        letter-spacing: 0.08em;
    }
}

.greeting-boss__message-text {
    font-size: rem(14);
    line-height: 1.7;
    margin-top: rem(32);

    @include mq(md) {
        margin-top: rem(41);
    }
    @include mq(lg) {
        margin-top: rem(44);
    }
}

.greeting-boss__message-text2 {
    font-size: rem(14);
    line-height: 1.7;
    margin-top: rem(22);
}

.greeting-boss__messageーauthor {
    font-size: rem(14);
    line-height: 1.7;
    margin-top: rem(40);
    text-align: right;

    @include mq(md) {
        margin-top: rem(16);
    }
}

.greeting-boss__img--sp {
    margin-top: rem(40);
    background-image: url(../src/images/staff/staff1.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: rem(446);

    @include mq(md) {
        display: none;
    }
}

.greeting-boss__career {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(61);
        font-size: rem(14);
    }
}

.greeting-boss__career-title {
    border-bottom: rem(1) solid $black;
    padding-bottom: rem(8);
}

.greeting-boss__career-block {
    display: flex;
    margin-top: rem(16);
}

.greeting-boss__career-text {
    &:not(:first-child) {
        margin-left: rem(16);
    }
}

.greeting-boss__career-text--down {
    display: flex;
    margin-left: rem(65);
}

.greeting-boss__career-text2 {
    margin-top: rem(16);
}

.greeting-boss__career-list + .greeting-boss__career-list {
    margin-top: rem(28);

    @include mq(md) {
        margin-top: rem(33);
    }
}

.greeting-boss__career-list dd {
    margin-top: rem(17);
    display: inline-block;

    @include mq(md) {
        margin-top: rem(15);
    }
}

.greeting-boss__career-item {
    @include mq(md) {
        margin-right: rem(16);
    }
}

.greeting-boss__img--sp {

}

.greeting-boss__img--pc {

    @include mq(md) {
        background-image: url(../src/images/staff/staff1.jpg);
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        width: 100%;
        margin-left: rem(80);
    }
}