@use "global" as *;

.greeting-swiper {
    margin-top: rem(100);

    @include mq(md) {
        margin-top: rem(160);
    }
}

.greeting-swiper__wrapper {
    transition-timing-function: linear;
}

.greeting-swiper__item img{
    height: auto;
    width: 100%;
    max-width: rem(200);

    @include mq(md) {
        width: 100%;
        max-width: rem(300);
    }
}