@use "global" as *;
.staff-mv {
    background-image: url(../src/images/staff/page-staff_top-sp.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq(md) {
        background-image: url(../src/images/staff/page-staff_top.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}